## COVID-19 INDIA

In [1]:
import pandas as pd
import numpy as np

In [2]:
%pwd

'C:\\Users\\Administrator'

In [3]:
%cd C:\Users\Administrator\Documents\datasets

C:\Users\Administrator\Documents\datasets

In [4]:
df=pd.read_csv('covid_19_india.csv',sep=",")
df

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,30/01/20,6:00 PM,Kerala,1,0,0,0,1
1,2,31/01/20,6:00 PM,Kerala,1,0,0,0,1
2,3,01/02/20,6:00 PM,Kerala,2,0,0,0,2
3,4,02/02/20,6:00 PM,Kerala,3,0,0,0,3
4,5,03/02/20,6:00 PM,Kerala,3,0,0,0,3
...,...,...,...,...,...,...,...,...,...
703,704,06/04/20,9:00 AM,Tamil Nadu,-,-,8,5,571
704,705,06/04/20,9:00 AM,Telengana,-,-,34,7,321
705,706,06/04/20,9:00 AM,Uttarakhand,-,-,4,0,26
706,707,06/04/20,9:00 AM,Uttar Pradesh,-,-,19,2,227
707,708,06/04/20,9:00 AM,West Bengal,-,-,10,3,80

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 708 entries, 0 to 707
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Sno                       708 non-null    int64
 1   Date                      708 non-null    object
 2   Time                      708 non-null    object
 3   State/UnionTerritory      708 non-null    object
 4   ConfirmedIndianNational   708 non-null    object
 5   ConfirmedForeignNational  708 non-null    object
 6   Cured                     708 non-null    int64
 7   Deaths                    708 non-null    int64
 8   Confirmed                 708 non-null    int64
dtypes: int64(4), object(5)
memory usage: 49.9+ KB

In [6]:
df.isnull().sum()

Sno                         0
Date                        0
Time                        0
State/UnionTerritory        0
ConfirmedIndianNational     0
ConfirmedForeignNational    0
Cured                       0
Deaths                      0
Confirmed                   0
dtype: int64

In [7]:
df['ConfirmedIndianNational'].value_counts()

-      262
1      108
3       73
2       33
4       21
      ...
121      1
49       1
24       1
87       1
101      1
Name: ConfirmedIndianNational, Length: 62, dtype: int64

In [8]:
df['State/UnionTerritory'].value_counts()

Kerala                         68
Telengana                      36
Delhi                          36
Rajasthan                      35
Uttar Pradesh                  34
Haryana                        34
Ladakh                         31
Tamil Nadu                     31
Maharashtra                    29
Jammu and Kashmir              29
Punjab                         29
Karnataka                      29
Andhra Pradesh                 26
Uttarakhand                    23
Odisha                         22
Puducherry                     20
West Bengal                    20
Chhattisgarh                   19
Chandigarh                     19
Gujarat                        18
Himachal Pradesh               17
Madhya Pradesh                 17
Bihar                          16
Manipur                        14
Mizoram                        13
Goa                            12
Andaman and Nicobar Islands    12
Assam                           6
Jharkhand                       6
Arunachal Pradesh               4
Unassigned                      3
Name: State/UnionTerritory, dtype: int64

In [9]:
df['State/UnionTerritory'].describe()

count        708
unique        31
top       Kerala
freq          68
Name: State/UnionTerritory, dtype: object

In [10]:
df['Cured'].value_counts()

0     425
1      76
3      65
2      22
6      17
11     13
4      11
5      11
25      6
21      6
10      6
9       6
8       5
19      5
18      5
14      5
42      5
12      4
15      3
24      2
39      2
55      1
49      1
23      1
27      1
32      1
34      1
41      1
17      1
Name: Cured, dtype: int64

In [11]:
df['Cured'].describe()

count    708.000000
mean       2.896893
std        7.010749
min        0.000000
25%        0.000000
50%        0.000000
75%        3.000000
max       55.000000
Name: Cured, dtype: float64

In [12]:
df['Deaths'].value_counts()

0     493
1     111
2      35
3      27
6       9
7       7
5       6
4       6
9       4
24      2
11      2
8       2
45      1
16      1
13      1
10      1
Name: Deaths, dtype: int64

In [13]:
df['Deaths'].describe()

count    708.000000
mean       0.882768
std        2.725351
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max       45.000000
Name: Deaths, dtype: float64

In [14]:
df['Confirmed'].value_counts()

1      121
3       82
2       42
7       30
4       24
      ...
137      1
144      1
89       1
152      1
690      1
Name: Confirmed, Length: 140, dtype: int64

In [15]:
df['Confirmed'].describe()

count    708.00000
mean      38.05226
std       78.36392
min        1.00000
25%        3.00000
50%        9.00000
75%       33.50000
max      690.00000
Name: Confirmed, dtype: float64

In [16]:
df['Date']=pd.to_datetime(df['Date'],errors='coerce')

In [17]:
df['Date'].head()

0   2020-01-30
1   2020-01-31
2   2020-01-02
3   2020-02-02
4   2020-03-02
Name: Date, dtype: datetime64[ns]

In [18]:
df['Year'] = df['Date'].dt.year
df['Year'].head()

0    2020
1    2020
2    2020
3    2020
4    2020
Name: Year, dtype: int64

In [19]:
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,Year,Month,Day
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1,2020,1,30
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1,2020,1,31
2,3,2020-01-02,6:00 PM,Kerala,2,0,0,0,2,2020,1,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3,2020,2,2
4,5,2020-03-02,6:00 PM,Kerala,3,0,0,0,3,2020,3,2

In [20]:
df['Time'].value_counts()

6:00 PM     539
7:30 PM      56
9:00 AM      30
9:30 PM      28
8:30 PM      28
10:00 AM     27
Name: Time, dtype: int64

In [21]:
df.groupby(['State/UnionTerritory','Month'])['Confirmed'].agg(['min','max','mean'])

                                   min  max       mean
State/UnionTerritory        Month
Andaman and Nicobar Islands 1       10   10  10.000000
                            2       10   10  10.000000
                            3        1   10   6.571429
                            4       10   10  10.000000
                            5       10   10  10.000000
...                                ...  ...        ...
West Bengal                 2       53   53  53.000000
                            3        1   63  13.333333
                            4       69   69  69.000000
                            5       80   80  80.000000
                            6       80   80  80.000000

[244 rows x 3 columns]

In [22]:
df.groupby(['Cured','Deaths'])['Confirmed'].agg(['min','max','mean'])

              min  max        mean
Cured Deaths
0     0         1   77    5.203438
      1         2   63   17.000000
      2        26   89   52.666667
      3        43   66   48.500000
      6        99  104  102.333333
...           ...  ...         ...
42    16      335  335  335.000000
      24      490  490  490.000000
      45      690  690  690.000000
49    2       306  306  306.000000
55    2       314  314  314.000000

[78 rows x 3 columns]

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 708 entries, 0 to 707
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Sno                       708 non-null    int64
 1   Date                      708 non-null    datetime64[ns]
 2   Time                      708 non-null    object
 3   State/UnionTerritory      708 non-null    object
 4   ConfirmedIndianNational   708 non-null    object
 5   ConfirmedForeignNational  708 non-null    object
 6   Cured                     708 non-null    int64
 7   Deaths                    708 non-null    int64
 8   Confirmed                 708 non-null    int64
 9   Year                      708 non-null    int64
 10  Month                     708 non-null    int64
 11  Day                       708 non-null    int64
dtypes: datetime64[ns](1), int64(7), object(4)
memory usage: 66.5+ KB

In [37]:
df=df.drop(columns=['Sno','Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 708 entries, 0 to 707
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Time                      708 non-null    object
 1   State/UnionTerritory      708 non-null    object
 2   ConfirmedIndianNational   708 non-null    object
 3   ConfirmedForeignNational  708 non-null    object
 4   Cured                     708 non-null    int64
 5   Deaths                    708 non-null    int64
 6   Confirmed                 708 non-null    int64
 7   Year                      708 non-null    int64
 8   Month                     708 non-null    int64
 9   Day                       708 non-null    int64
dtypes: int64(6), object(4)
memory usage: 55.4+ KB

### NORMALIZATION OF INTEGER VARIABLES

In [82]:
List=['Confirmed','Deaths','Year','Month','Day']

In [83]:
df1=df.loc[:, List]

In [84]:
df1.head(5)

   Confirmed  Deaths  Year  Month  Day
0          1       0  2020      1   30
1          1       0  2020      1   31
2          2       0  2020      1    2
3          3       0  2020      2    2
4          3       0  2020      3    2

In [85]:
import sklearn
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(df1)

In [86]:
ip_normalized = pd.DataFrame(x_scaled,columns=['Confirmed','Deaths','Year','Month','Day'])

In [87]:
ip_normalized.head()

   Confirmed  Deaths  Year     Month       Day
0   0.000000     0.0   0.0  0.000000  0.965517
1   0.000000     0.0   0.0  0.000000  1.000000
2   0.001451     0.0   0.0  0.000000  0.000000
3   0.002903     0.0   0.0  0.090909  0.000000
4   0.002903     0.0   0.0  0.181818  0.000000

In [88]:
X = df.select_dtypes(include=[object])
X.head(3)

,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational
0,6:00 PM,Kerala,1,0
1,6:00 PM,Kerala,1,0
2,6:00 PM,Kerala,2,0

In [89]:
X.shape

(708, 4)

## LABEL ENCODING

In [90]:
from sklearn import preprocessing

In [91]:
# TODO: create a LabelEncoder object and fit it to each feature in X


# 1. INSTANTIATE
# encode labels with value between 0 and n_classes-1.
le = preprocessing.LabelEncoder()


# 2/3. FIT AND TRANSFORM
# use df.apply() to apply le.fit_transform to all columns
X_2 = X.apply(le.fit_transform)
X_2.head()

,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational
0,1,15,2,1
1,1,15,2,1
2,1,15,21,1
3,1,15,31,1
4,1,15,31,1

In [92]:
X_2.shape

(708, 4)

In [93]:
X_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 708 entries, 0 to 707
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Time                      708 non-null    int32
 1   State/UnionTerritory      708 non-null    int32
 2   ConfirmedIndianNational   708 non-null    int32
 3   ConfirmedForeignNational  708 non-null    int32
dtypes: int32(4)
memory usage: 11.2 KB

## ONEHOT ENCODING

In [94]:
# TODO: create a OneHotEncoder object, and fit it to all of X

# 1. INSTANTIATE
enc = preprocessing.OneHotEncoder()

# 2. FIT
enc.fit(X_2)

# 3. Transform
onehotlabels = enc.transform(X_2).toarray()
onehotlabels.shape

(708, 111)

In [95]:
data = pd.DataFrame(onehotlabels)

In [96]:
data[['Confirmed','Deaths','Year','Month','Day']]=ip_normalized

## LOGISTIC REGRESSION

In [97]:
X = data
y = df['Cured'] #TARGET VARIABLE

In [105]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.70, 
                                                    random_state=1)

In [106]:
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import accuracy_score 
model = LogisticRegression()

In [107]:
model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [108]:
y_pred = model.predict(X_test)

In [109]:
accuracy=accuracy_score(y_test,y_pred)
print(accuracy)

0.7096774193548387

In [110]:
from sklearn.metrics import confusion_matrix
cnf_matrix = confusion_matrix(y_test, y_pred)
cnf_matrix

array([[299,   3,   0,   2,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [ 37,  22,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  9,   1,   3,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [ 26,   0,   0,  17,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  3,   1,   1,   1,   1,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  3,   1,   0,   0,   0,   1,   2,   0,   0,   0,   1,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  1,   4,   0,   2,   0,   0,   4,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   1,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  1,   1,   0,   0,   0,   0,   0,   0,   0,   0,   2,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  3,   1,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  4,   0,   0,   1,   0,   0,   0,   0,   0,   0,   3,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  1,   2,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  3,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  1,   0,   0,   1,   0,   0,   0,   1,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  3,   0,   0,   0,   0,   0,   1,   1,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  2,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  4,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   1,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  2,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  3,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   1,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   1,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  2,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  1,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   2,   0],
       [  0,   0,   0,   1,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0]],
      dtype=int64)

In [111]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.73      0.98      0.84       304
           1       0.56      0.37      0.45        59
           2       0.75      0.23      0.35        13
           3       0.65      0.40      0.49        43
           4       1.00      0.14      0.25         7
           5       1.00      0.12      0.22         8
           6       0.57      0.36      0.44        11
           8       0.00      0.00      0.00         1
           9       0.00      0.00      0.00         4
          10       0.00      0.00      0.00         4
          11       0.50      0.38      0.43         8
          12       0.00      0.00      0.00         3
          14       0.00      0.00      0.00         3
          15       0.00      0.00      0.00         3
          18       0.00      0.00      0.00         5
          19       0.00      0.00      0.00         2
          21       0.00      0.00      0.00         4
          23       0.00      0.00      0.00         1
          24       0.00      0.00      0.00         2
          25       0.00      0.00      0.00         3
          32       0.00      0.00      0.00         1
          34       0.00      0.00      0.00         1
          39       0.00      0.00      0.00         2
          42       1.00      0.67      0.80         3
          49       0.00      0.00      0.00         1

    accuracy                           0.71       496
   macro avg       0.27      0.15      0.17       496
weighted avg       0.65      0.71      0.65       496

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))